<strong>Olá, {{ studentName }}</strong>
<p>Você foi matriculado com sucesso.</p>
<p>
  <strong>Plano: </strong> {{ planTitle }} <br/>
  <strong>Duração: </strong> {{ planDuration }} {{ monthlyDuration }} <br/>
  <strong>Início da matrícula: </strong> {{ planStart }} <br/>
  <strong>Término da matrícula: </strong> {{ planEnd }} <br/>
  <strong>Valor: </strong> R${{ planPrice }},00 <br/>
</p>
